@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.heading {
  color: #050A36;
}

.paragraph {
  color: #464853;
}

.gray {
  color: #464853c2;
}

.background {
  background-color: #E9F0F7;
}

.button {
background-color: #0D1552;
color: white;
text-align: center;
border-radius: 12px;
padding: 12px
}